[Desktop Entry]
Type=Application
Version=1.0
Name=SuperTux Meltdown
Exec=supertux-meltdown
Terminal=false
StartupNotify=false
Categories=Game;ArcadeGame;
Keywords=game;arcade;platform;
X-Ubuntu-Touch=true
